# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
/.idea.New Unity Project (1).iml
# Datasource local storage ignored files
/../../../../../../../../:\Users\Richard Tan\Documents\New Unity Project (1)\.idea\.idea.New Unity Project (1)\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
